<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
    <title>Populate Me</title>
    
  </head>
  <body>
    <h1><a href='<%= request.script_name %>'>Populate Me</a></h1>
    <section>
      <%= yield %>
    </section>
  </body>
</html>

